.dashboardContainer {
    position: relative;
    z-index: 1;
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 30vh;
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    border-radius: 20px;
}

.dashboardError {
    color: #d32f2f;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}
